# SPDX-FileCopyrightText: 2024 Christina Sørensen
# SPDX-License-Identifier: EUPL-1.2
# Rust stuff
/target

## Dynamically generated test data
/tests/data

# Compiled artifacts
# (see devtools/*-package-for-*.sh)
/eza-*-x86_64
/eza-*-x86_64-*.zip
/eza_*.deb
/MD5SUMS
/SHA1SUMS

# Snap stuff
parts
prime
stage
*.snap
